/* OVERRIDES 

.sapUxAPBlockContainer.ui-helper-clearfix.sapUxAPBlockContainerDesktop {
  padding: 0px;
}

#__section0-innerGrid.sapUiRespGrid.sapUiRespGridHSpace1.sapUiRespGridMedia-Std-Desktop.sapUiRespGridVSpace1 {
  padding: 0px;
}

.sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL12 {
  margin: 0px;
}

*/

/* Styling */

.header {
  background-color: #353F85;
}
.iconLive{
  color: lightgreen;
  font-size : 2.5em;
}
.hText {
  font-weight: normal;
  font-size: 1.8em;
}
.hText_main {
  font-weight: bold;
  color: orange;
}
.hText_mid {
  color: white;
}
.hText_min {
  font-weight: lighter;
  color: white;
}
.bigIcon {
  font-size: 4rem;
  color: #1B272F;
}
.midIcon {
  font-size: 3rem;
  font-style: italic;
  color: #6692AD;
}
.minIcon {
  font-size: 1rem;
  font-style: italic;
  color: #6692AD;
}

.spacer16 {
  width: 16px;
  height: 16px;
}
.spacer8 {
  width: 8px;
  height: 8px;
}
.quoteText {
  font-style: italic;
  font-size: 2em;
  color: #6692AD;
}
.quoteTitle {
  font-style: italic;
  color: #2E324B;
}

@media (max-width:599px) {
	.iconLive{
    font-size : 1.5em;
  }
}


/* OVERRIDES 
.sapUxAPObjectPageHeaderPlaceholder>.sapUiIcon::before {
  color: #bb0000;
}

.sapUxAPObjectPageHeaderPlaceholder>.sapUiIcon::before {
  color: #2b7d2b;
}
*/